@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  /* font-style: "manrope"; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Manrope"; */
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
  margin: 0;
}

body {
  background-color: #262626;
  /* background-color: #eeeeee; */
}
.app-container {
  min-height: 100vh;
  max-width: 750px;
  padding-bottom: 50px;
  max-height: 300vh;
  /* display: flex;
  flex-direction: column; */
  margin: auto;
  background: linear-gradient(to right, #e0f7fa, #80deea);
  font-family: "Segoe UI", sans-serif;
}

.header {
  /* background-color: #0077b6; */
  background-color: #000000;
  padding: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: rgb(221, 228, 236);
  font-weight: 500;
  background-color: #000000;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links button {
  background: none;
  border: none;
  /* display: flex; */
  /* color: rgb(255, 255, 255); */
  font-size: 1.2rem;
  margin-left: 20px;
  cursor: pointer;
}

.nav-links button:hover {
  color: #bde0fe;
}
.linksnav {
  display: flex;
  justify-content: space-evenly;
  color: #000000;
}
.linksnav li button {
  background-color: #0f4c6d;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 10px;
  color: rgb(255, 255, 255);
}
.content {
  /* background-color: rgb(236, 236, 236); */
  /* margin: 5px auto; */
  padding: 20px 10px;
  /* border-radius: 10px; */
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
  /* width: 100%; */
}

.main .section-title {
  color: #000000;
  /* background-color: rgb(0, 0, 0); */
  margin-bottom: 5px;
  border-radius: 10px;
  /* font-size: 40px; */
}
.title {
  font-size: 40px;
  color: #080c0e;
}

.tab-buttons button {
  background-color: #0077b6;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.tab-buttons button.active {
  background-color: #023e8a;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #0077b6;
}

.img {
  border-radius: 15px;
}

.description {
  font-size: 1.2rem;

  margin-top: 20px;
  color: #3f3f3f;
  line-height: 1.5;
}
